---
import Layout from '../layouts/Layout.astro';
import ScriptsWheelFixed from '../components/ScriptsWheelFixed.jsx';
---

<Layout title="TV Scripts">
    <main data-astro-cid-lwyzime5>
        <ScriptsWheelFixed client:load data-astro-cid-lwyzime5 />
    </main>
</Layout>

<style>
main[data-astro-cid-lwyzime5] {
    margin: auto;
    padding: 2rem;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>
