---
import Layout from '../../layouts/Layout.astro';
import Navigation from '../../components/Navigation.astro';
---
<Layout title="Other" showNavigation={true}>
    <Navigation />
    <div>Other Page Coming Soon</div>
</Layout>
